<app-sidebar></app-sidebar>

<div class="main-content bg-dark">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Módulo</h6>

                <!-- Title -->
                <h1 class="header-title text-white"><b>Home</b></h1>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>
        <div class="text-white my-5 text-center">
          <dl>
            <dt><a href="http://localhost:4201/api/v1/docs">Docs</a></dt>
            <dd>Quieres conocer los endpoints? aquí.</dd>
            <dt><a href="/users">Users</a></dt>
            <dd>Vas a manejar algun usuario? aquí.</dd>
            <dt><a href="/settings">Settings</a></dt>
            <dd>Configuraciones o relacionado? aquí.</dd>
            <dt><a href="/cupones">Cupones</a></dt>
            <dd>Eliminar o agregar cupones? aquí.</dd>
          </dl>
        </div>
        <div class="header-body"></div>
      </div>
    </div>
  </div>
</div>
