<app-sidebar></app-sidebar>

<div class="main-content bg-dark">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Módulo</h6>

                <!-- Title -->
                <h1 class="header-title text-white"><b>Usuarios</b></h1>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>
        <form #registroForm="ngForm" (ngSubmit)="register(registroForm)">
          <div class="card box-shadow-sm">
            <div class="card-header">
              <h5 style="margin-bottom: 0px">Registro de user</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 form-group">
                  <label for="validationCustom01" class="form-label"
                    >Nombres</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Nombre"
                    required
                    name="nombres"
                    [(ngModel)]="user.name"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="validationCustom01" class="form-label"
                    >Apellidos</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Apellidos"
                    required
                    name="apellidos"
                    [(ngModel)]="user.lastnames"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="validationCustom01" class="form-label"
                    >Correo electrónico</label
                  >
                  <input
                    class="form-control"
                    type="email"
                    placeholder="Correo"
                    required
                    name="mail"
                    [(ngModel)]="user.mail"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="validationCustom01" class="form-label"
                    >Password</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    name="password"
                    placeholder="Password"
                    required
                    name="password"
                    [(ngModel)]="user.password"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="validationCustom01" class="form-label"
                    >Username</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Usuario"
                    required
                    name="username"
                    [(ngModel)]="user.username"
                  />
                </div>
                <div class="col-md-4 form-group">
                  <label for="validationCustom01" class="form-label"
                    >Telefono</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Telefono"
                    required
                    name="phone"
                    [(ngModel)]="user.phone"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button
                *ngIf="!LoadBTN"
                class="btn btn-primary mr-3"
                type="submit"
              >
                Crear usuario
              </button>
              <button
                *ngIf="LoadBTN"
                type="button"
                class="btn btn-secondary"
                disabled
              >
                <span
                  class="spinner-grow spinner-grow-sm mr-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                Creando...
              </button>
              <a [routerLink]="['/users']" class="btn btn-warning">Regresar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
